<footer class="footer has-background-dark has-text-white mt-6">
  <div class="content has-text-centered">
    <p>
      <strong>Emanuele Ruzziconi</strong><br>
      IIS Marconi Pieralisi di Jesi - Indirizzo Informatica e Telecomunicazioni
    </p>
    <div class="is-flex is-justify-content-center" style="gap: 1.5rem; flex-wrap: wrap;">
      <a href="mailto:emanueleruzziconi1@gmail.com" class="has-text-info">emanueleruzziconi1@gmail.com</a>
      <a href="tel:3347134379" class="has-text-info">3347134379</a>
      <p>Via V. de grandis, 2 - Ostra (AN)</p>
    </div>
    <div class="is-flex is-justify-content-center mt-3" style="gap: 1.5rem;">
      <a href="https://github.com/Manux17" class="has-text-white" target="_blank">GitHub</a>
      <a href="https://instagram.com/manu_ruzzi_" class="has-text-white" target="_blank">Instagram</a>
    </div>
  </div>
</footer>
