<nav class="navbar is-primary is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item title is-4 has-text-white mb-0" href="index.html">
        E. Ruzziconi
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="index.html#home">Home</a>
        <a class="navbar-item" href="index.html#chi-sono">Chi sono</a>
        <a class="navbar-item" href="index.html#passioni">Passioni</a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Materie</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="materia-informatica.html">Informatica</a>
            <a class="navbar-item" href="materia-sistemi-reti.html">Sistemi e Reti</a>
            <a class="navbar-item" href="materia-tpsit.html">TPSIT</a>
            <a class="navbar-item" href="materia-gpoi.html">GPOI</a>
            <a class="navbar-item" href="materia-matematica.html">Matematica</a>
            <a class="navbar-item" href="materia-ia.html">Intelligenza Artificiale</a>
            <a class="navbar-item" href="materia-italiano.html">Italiano</a>
            <a class="navbar-item" href="materia-storia.html">Storia</a>
            <a class="navbar-item" href="materia-inglese.html">Inglese</a>
            <a class="navbar-item" href="materia-scienze-motorie.html">Scienze Motorie</a>
            <a class="navbar-item" href="materia-religione.html">Religione</a>
          </div>
        </div>

        <a class="navbar-item" href="FSL.html">FSL (EX-PCTO)</a>
        <a class="navbar-item" href="educazione-civica.html">Educazione Civica</a>
      </div>
    </div>
  </div>
</nav>
